/** {
  outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: black;
}
input {
    background: grey;
    font-size: 18px;
}
.centered {
    text-align: center;
}
#pizzaSize {
    font-weight: 800;
}
.mover {
    position: fixed;
    width: 256px;
    z-index: -1;
}
.randomPizzaContainer {
    float: left;
    display: flex;
}
.randomPizzaContainer:after {
    content: "";
    display: table;
    clear: both;
}
.size-1 {
    width: 25% !important;
}
.size-2 {
    width: 33% !important;
}
.size-3 {
    width: 50% !important;
}
.container {
    background-color: rgba(240, 60, 60, 0.8);
}
